<ion-header>  
  <ion-toolbar>  
    <ion-buttons slot="start" (click)="getBackHome()">
      <ion-icon name="home-outline"></ion-icon>
    </ion-buttons>
    <ion-img src="../assets/icon/logo.jpeg"></ion-img>
  </ion-toolbar>  
</ion-header>  
     
<ion-content class="padding">
  <div id="container">
    <ion-row style="font-size: 12px; font-weight: bold;text-align: center;">
      <ion-col>
        Date
      </ion-col>
      <ion-col>
        Utilisateur
      </ion-col>
      <ion-col>
        Type
      </ion-col>
      <ion-col>
        Montant
      </ion-col>
      <ion-col>
        Frais
      </ion-col>
    </ion-row>
    <!-- <ion-row *ngFor="let transElement of trans | orderBy:'dateDepot'"> -->
    <ng-container *ngFor="let trans of tab2">
      <ng-container *ngIf="trans['data'] | async as result">
        <ion-row  *ngFor="let element of result" style="font-size: 12px;">
          <ion-grid>
            <ion-row>
              <ion-col *ngIf="trans.type == 'depot'">
                {{ element.dateDepot | date:'shortDate'}}
              </ion-col>
              <ion-col *ngIf="trans.type == 'retrait'">
                {{ element.dateRetrait | date:'shortDate'}}
              </ion-col>
              <ion-col *ngIf="trans.type == 'depot'">
                {{ element["clientDepot"].nomComplet }}
              </ion-col>
              <ion-col *ngIf="trans.type == 'retrait'">
                {{ element["clientRetrait"].nomComplet }}
              </ion-col>
              <ion-col>
                {{ trans.type }}
              </ion-col>
              <ion-col>
                {{ element.montant }}
              </ion-col>
              <ion-col>
                {{ element.frais }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-row>
      </ng-container>
    </ng-container>
  </div>
  
  <ion-footer>
  </ion-footer>

</ion-content>

