<ion-header>  
  <ion-toolbar>  
    <ion-buttons slot="start" (click)="getBackHome()">
      <ion-icon name="home-outline"></ion-icon>
    </ion-buttons>
    <ion-img src="../assets/icon/logo.jpeg"></ion-img>
  </ion-toolbar>  
</ion-header>  
     
<ion-content class="padding">
  <div id="container">
    <ion-row style="font-size: 12px;">
      <ion-col>
        Date
      </ion-col>
      <ion-col>
        Utilisateur
      </ion-col>
      <ion-col>
        Type
      </ion-col>
      <ion-col>
        Montant
      </ion-col>
      <ion-col>
        Frais
      </ion-col>
    </ion-row>
    <!-- <ion-row *ngFor="let transElement of trans | orderBy:'dateDepot'"> -->
    <ng-container *ngFor="let transElement of trans, let i = index">
    <ion-row  *ngFor="let transElem of transElement['depot'] let j=index" style="font-size: 12px;">
        <ion-grid>
          <ion-row>
            <ion-col>
              {{ transElement['depot'][j].dateDepot | date:'shortDate'}}
            </ion-col>
            <ion-col>
              <div>
                <!-- {{ userDepot.prenom }} {{ userDepot.nom }} -->
              </div>
            </ion-col>
            <ion-col>
              <div>
                depot
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{ transElement['depot'][j].montant }}
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{ transElement['depot'][j].frais }}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-row>
  </ng-container>
  </div>
  
  <ion-footer>
  </ion-footer>

</ion-content>

