     
<ion-content class="padding">  
    <ion-list>
      <ion-item>
        <ion-label  position="stacked">Prénom</ion-label>
        <ion-input  placeholder="ex: Prénom" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label  position="stacked">Nom</ion-label>
        <ion-input  placeholder="ex: NOM" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label  position="stacked">Téléphone</ion-label>
        <ion-input  placeholder="numéro de téléphone" required></ion-input>
      </ion-item>
    </ion-list>
</ion-content>