  
  ion-buttons ion-icon{
    margin-left: 1rem;
    position: absolute;
    color: #51BFD0;
  }

  #header {
    background-color: #E5E5E5;
  }
  
  ion-toolbar ion-img{
    width: 50px;
    height: 38,11px;
    position: relative;
    display: flex;
    margin: 0 auto;
  }

  // #userItem{
  //   position: relative;
  //   float :left;
  //   padding: 0px;
  //   margin: 0px;
  //   font-size: 8px;
  //   font-weight: bold;
  //   text-align: center;
  // }

  #container2 {
    text-align: center;
    left: 1rem;
    right: 1rem;
    display: block;
    height: 60vh;
    margin-top: 2em;
    overflow : scroll;
    overflow-x: hidden;
  }
  
  #container2 strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #col {
    background-color: white;
    height: auto;
    margin: 1em auto ;
    text-align: left;
    border-radius: 8px;
    border-right: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    border-bottom: 2px solid #51BFD0;
  }
  
  hr{
    background-color: red;
    height: 0.01em;
  }

  ion-tabs {
    display: block;
  }

  ion-button {
    background-color: #FA4A0C;
    width: 50%;
    display: block;
    margin: 0px auto;
    border-radius: 6px;
    margin-top: 6em;
  }
  